{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать в планер!</h1>
{% if current_user.is_authenticated %}
    <a href="tasks" class="btn btn-secondary">Добавить дело</a>
{% endif %}
{% for item in tasks%}
<div class="col-md6 border rounded">
    {% if current_user.is_authenticated and current_user == item.user %}
        <div>
            <div class="col-md6 border rounded">
                <div>
                    <p>{{item.task}}</p>
                    <p>{{item.commentary}}</p>
                    <p>до: {{item.deadline}}</p>
                </div>
            </div>
            <a href="/tasks/{{ item.id }}" class="btn btn-info">
                Изменить
            </a>
            <a href="/tasks_delete/{{ item.id }}" class="btn btn-danger">
                Удалить
            </a>
         </div>
    {% endif %}
</div>
{% endfor %}
{% if not current_user.is_authenticated %}
    <div>
        <h2>Пройдите авторизацию</h2>
    </div>
{% endif %}
{% endblock %}