{% extends "base.html" %}

{% block content %}
<h1>Добавление дела</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.task.label }}<br>
        {{ form.task(class="form-control") }}<br>
        {% for error in form.task.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.commentary.label }}<br>
        {{ form.commentary(class="form-control") }}<br>
        {% for error in form.commentary.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.deadline.label }}<br>
        {{ form.deadline(class="form-control") }}<br>
        {% for error in form.deadline.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}